<div style="margin-top: 2rem;">
    <div style="display: flex; justify-content: center; margin-left: 32%;">
        <button (click)="prevRepo()" [disabled]="repoIndex === 0">Anterior</button>
        <button (click)="nextRepo()" [disabled]="repoIndex === comparisonRepositories.length - 1">Siguiente</button>
    </div>

    <div style="display: flex; justify-content: space-between;">
        <div style="width: 50%; margin-left: 12.5%;">
            <h1>Repositorio Principal</h1>
            <app-statistics-list [repo]="mainRepository"></app-statistics-list>
        </div>

        <div style="width: 50%; margin-left: 12.5%;">
            <h1>Repositorio Comparado</h1>
            <app-statistics-list [repo]="showedRepo"></app-statistics-list>
        </div>
    </div>
</div>