<form [formGroup]="repositoryForm" (ngSubmit)="submitRepo()">
  <div>
    <label for="mainRepositoryUrl">URL del repositorio principal:</label>
    <input id="mainRepositoryUrl" formControlName="mainRepositoryUrl" type="text"
      placeholder="Introduce la URL del repositorio" style="width: 50rem;"/>
  </div>
  <br>

  <div>
    <label for="sourceRepositoryUrl">URL del repositorio de ejemplo para comparar:</label>
    <input id="sourceRepositoryUrl" formControlName="sourceRepositoryUrl" type="text"
      placeholder="Introduce la URL del repositorio" style="width: 50rem;" />
  </div>
  <br>
  <button type="submit" [disabled]="repositoryForm.invalid">Enviar</button>
</form>