.header {
    height: 5rem;
    width: 100%;
    background-color: #121212;
}

.header_title {
    margin-top: -3rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}

.user_button {
    color: #FFFFFF;
    background-color: #1c2020;
    font-size: 1rem;
    width: 11.75rem;
    height: 2.1rem;
    margin-top: -2.25rem;
    border-radius: 0;
    margin-right: 10rem;
    display: flex;
}

.user_button:hover {
    cursor: pointer;
    border: 1px solid #FFFFFF;
}

.user_icon {
    margin-top: -0.25rem;
    padding-left: 0.25rem;
    padding-right: 0.80rem;
}

.go_back {
    margin-top: 1rem;
    margin-left: 2rem;
    height: 3rem;
    width: 3rem;
    background-color: #1c2020;
}

.arrow_icon {
    font-size: 1.5rem;
}