<div class="header">

    <div>
        <div [hidden]="router.url !== '/results'">
            <button mat-icon-button (click)="goBack()" class="go_back">
                <mat-icon class="arrow_icon">arrow_backwards</mat-icon>
            </button>
        </div>
        <div *ngIf="router.url === '/add-repositories'" style="height: 4rem;"></div>
        <span class="header_title">
            {{'labels.app_title' | transloco }}
        </span>
    </div>

    <div style="display: flex; justify-content: end;">
        <button mat-icon-button *ngIf="username" [matMenuTriggerFor]="userMenu" class="user_button">
            <mat-icon class="user_icon">person</mat-icon>
            {{ username }}
        </button>

        <div class="flag_container" *ngIf="languageCode == 'es'">
            <button class="flag_button" (click)="changeLanguage('en')">
                <img src='spain.png' alt="Español" class="flag" />
            </button>
        </div>
        <div class="flag_container" *ngIf="languageCode == 'en'">
            <button class="flag_button" (click)="changeLanguage('es')">
                <img src='united-kingdom.png' alt="Español" class="flag" />
            </button>
        </div>

        <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="goToNewPassword()">
                <mat-icon>lock</mat-icon>
                {{'buttons.change_password' | transloco }}
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                {{'buttons.logout' | transloco }}
            </button>
        </mat-menu>
    </div>
</div>