strong {
    color: #FFFFFF;
}

span {
    color: #CCCCCC;
}

div {
    margin-bottom: 3rem;
}

.stats_box {
    border: 2px solid #CCCCCC;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 80%;
}

.margin {
    margin-top: 1rem;
}
