<body>
  <form [formGroup]="repositoryForm" class="content">

    <div class="url_container">
      <label class="input_label_2">{{'messages.input_main_url'| transloco}}</label>
      <div class="url_input_container">
        <input matInput id="mainRepositoryUrl" formControlName="mainRepositoryUrl" type="text"
          placeholder="{{'labels.url_format' | transloco}}" class="url_input">
        <button matSuffix mat-icon-button [disabled]="!repositoryForm.get('mainRepositoryUrl')?.value"
          (click)="addMainUrl()" class="add_url_button">
          <mat-icon class="add_icon" [class.disabled]="!repositoryForm.get('mainRepositoryUrl')?.value">
            add
          </mat-icon>
        </button>
      </div>
    </div>

    <div *ngIf="mainUrl" class="added_url">
      <span class="added_url_text">{{ mainUrl }}</span>
    </div>
    <br>

    <div class="url_container" style="margin-top: 3rem;">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <label class="input_label_2">{{'messages.input_references_url'| transloco}}</label>
        <button mat-button class="old_repos_button" (click)="openPreviousReposModal()">{{ 'buttons.saved_repositories' |
          transloco }}</button>
      </div>
      <div class="url_input_container">
        <input matInput id="sourceRepositoryUrl" formControlName="sourceRepositoryUrl" type="text"
          placeholder="{{'labels.url_format' | transloco}}" class="url_input" />
        <button matSuffix mat-icon-button [disabled]="!repositoryForm.get('sourceRepositoryUrl')?.value"
          (click)="addExampleUrl()" class="add_url_button">
          <mat-icon class="add_icon" [class.disabled]="!repositoryForm.get('sourceRepositoryUrl')?.value">
            add
          </mat-icon>
        </button>
      </div>
    </div>

    <div *ngIf="exampleUrls.length > 0">
      <ul>
        <li *ngFor="let url of exampleUrls; let i = index">
          <div style="display: flex;">
            <div class="added_url">
              <span class="added_url_text">{{ url }}</span>
            </div>
            <button matSuffix mat-icon-button (click)="removeExampleUrl(i)" class="remove_url_button">
              <mat-icon class="remove_icon">delete</mat-icon>
            </button>
          </div>
        </li>
      </ul>
    </div>
    <br>

    <div class="parameters">
      <div style="display: flex; flex-direction: column;">
        <span class="parameters_title">{{ 'parameters.parameters' | transloco }}</span>
        <div class="explanation_message">
          <button *ngIf="useOldRepositories === true" (click)="changeParametersAplication()" class="explanation_button">
            <span *ngIf="applyParametersToOldRepositories === false">
              {{ 'buttons.apply_only_main_repo' | transloco }}
            </span>
            <span *ngIf="applyParametersToOldRepositories === true">
              {{ 'buttons.apply_all_repos' | transloco }}
            </span>
          </button>
        </div>
      </div>
      <div class="mandatory_parameters">
        <div class="url_container">
          <label class="input_label_2">{{ 'parameters.days_number_short' | transloco }}:</label>
          <input id="averageDays" formControlName="averageDays" type="number" class="number_input">
          <mat-error *ngIf="daysNumberError" style="color: red; margin-top: 1rem;">
            {{ 'errors.natural_days_number_error' | transloco }}
          </mat-error>
        </div>

        <div style="display: flex; flex-direction: column;">
          <label class="input_label_2">{{ 'parameters.analysis_mode' | transloco }}</label>
          <div>
            <input id="fullTimeAnalysis" type="radio" [value]="false" name="useTimeIntervals"
              formControlName="useTimeIntervals">
            <label class="input_label" for="male">{{ 'parameters.full_analysis' | transloco }}</label>
          </div>

          <div>
            <input id="timeIntervalsAnalysis" type="radio" [value]="true" name="useTimeIntervals"
              formControlName="useTimeIntervals">
            <label class="input_label" for="female">{{ 'parameters.intervals_analysis' | transloco }}</label>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div *ngIf="repositoryForm.controls.useTimeIntervals?.value == true" class="parameters_2" style="margin-top: 1rem;">
      <div class="optional_parameters">
        <div
          style="width: 100%; background-color: #212121; border-radius: 1rem; display: flex; flex-direction: column;">
          <label class="input_label_3" style="align-self: center; margin: 1rem;">
            {{ 'parameters.intervals_type' | transloco }}
          </label>
          <div style="display: flex; justify-content: space-around;">
            <div>
              <input id="useAbsolutes" type="radio" [value]="false" name="useRelativeDates"
                formControlName="useRelativeDates">
              <label class="input_label" for="female">{{ 'parameters.absolute_type' | transloco }}</label>
            </div>

            <div>
              <input id="useRelatives" type="radio" [value]="true" name="useRelativeDates"
                formControlName="useRelativeDates">
              <label class="input_label" for="male">{{ 'parameters.relative_type' | transloco }}</label>
            </div>
          </div>
          <br>
        </div>

        <div
          style="margin-top: 2rem; background-color: #212121; border-radius: 1rem; display: flex; flex-direction: column;">
          <div style="display: flex; flex-direction: column; padding: 1rem;">
            <label class="input_label_3" style="align-self: center;">
              {{ 'parameters.intervals_number' | transloco }}
            </label>
            <label *ngIf="repositoryForm.controls.useRelativeDates?.value == true" class="input_label"
              style="align-self: center;">
              {{ 'parameters.intervals_number_explanation' | transloco }}
            </label>
            <label *ngIf="repositoryForm.controls.useRelativeDates?.value == false" class="input_label"
              style="align-self: center;">
              {{ 'parameters.intervals_number_explanation_2' | transloco }}
            </label>
          </div>
          <br>

          <div style="display: flex; justify-content: space-around; margin-bottom: 1rem;">
            <div class="url_container">
              <label class="input_label">
                {{ 'parameters.start_interval' | transloco }}
                <input id="startTimeInterval" formControlName="startTimeInterval" type="number" class="number_input" />
              </label>
            </div>
            <div style="display: flex;">
              <mat-icon class="arrow_icon">arrow_forward</mat-icon>
            </div>
            <div class="url_container">
              <label class="input_label">
                {{ 'parameters.end_interval' | transloco }}
                <input id="endTimeInterval" formControlName="endTimeInterval" type="number" class="number_input" />
              </label>
            </div>
          </div>
        </div>
        <br>

        <div style="display: flex; flex-direction: column;">
          <mat-error *ngIf="relativeTimeIntervalsError" class="error_message">
            {{ 'errors.more_than_4_relative_error' | transloco }}
          </mat-error>
          <mat-error *ngIf="timeIntervalsComparisonError && repositoryForm.controls.endTimeInterval.touched"
            class="error_message">
            {{ 'errors.start_interval_greater_error' | transloco }}
          </mat-error>
          <mat-error *ngIf="timeIntervalsValueError" class="error_message">
            {{ 'errors.natural_intervals_error' | transloco }}
          </mat-error>
        </div>
      </div>
    </div>

    <br>
    <button class="save_button" (click)="submitRepo()" [disabled]="!mainUrl || exampleUrls.length === 0 || daysNumberError ||
    repositoryForm.controls.useTimeIntervals.value == true && 
    (timeIntervalsComparisonError || relativeTimeIntervalsError || timeIntervalsValueError)">
      {{ 'buttons.compare' | transloco }}
    </button>
  </form>

  <ng-template #previousReposModal>
    <div class="modal_backdrop">
      <div class="modal_content">
        <h3 class="parameters_title">{{ 'labels.saved_repositories' | transloco }}</h3>
        <div style="display: flex; justify-content: space-around;" *ngIf="previousRepoGroups.length == 0">
          <span class="parameters_title_2" style="color: #f26e6e; margin-bottom: 2rem;">
            {{ 'messages.no_saved_repositories' | transloco }}
          </span>
        </div>
        <ul *ngIf="previousRepoGroups.length != 0">
          <li *ngFor="let group of previousRepoGroups" class="group_item_container">
            <div class="group_item">

              <button class="delete_group_button" (click)="deleteRepoGroup(group); $event.stopPropagation()">
                <i class="material-icons" style="color: #f26e6e;">delete</i>
              </button>

              <div (click)="selectRepoGroup(group)">
                <ul>
                  <li *ngFor="let repo of group.repositories" style="font-size: 0.9rem; margin-bottom: 0.5rem;">
                    <div><strong>{{ repo.repoTitle }}</strong></div>
                    <div style="font-size: 0.8rem; color: #666;">
                      {{ 'messages.analyzed_from' | transloco }} {{ repo.startDate | date:'dd/MM/yyyy' }}
                      {{ 'messages.to' | transloco }} {{ repo.endDate | date:'dd/MM/yyyy' }}<br>
                    </div>
                  </li>
                  <span>
                    {{ 'parameters.days_number' | transloco }}: {{ group.repositories[0].averageDays }}<br>
                  </span>
                  <span>
                    {{ 'messages.created_on' | transloco }}: {{ group.repositories[0].createdAt | date:'dd/MM/yyyy' }}
                    {{ 'messages.at' | transloco }} {{ group.repositories[0].createdAt | date:'h:mm:ss' }}
                  </span>
                </ul>
              </div>
            </div>
          </li>
        </ul>

        <button class="close_modal" style="color: #f26e6e;" (click)="closePreviousReposModal()">{{'buttons.close' |
          transloco }}</button>
      </div>
    </div>
  </ng-template>

</body>

<ng-container *ngIf="showPreviousRepos">
  <ng-container *ngTemplateOutlet="previousReposModal"></ng-container>
</ng-container>

<div *ngIf="loading" class="loading-overlay">
  <mat-spinner></mat-spinner>
  <p class="loading-message">{{ loadingMessage }}</p>
</div>