.content {
    padding: 20rem;
    padding-top: 2rem;
}

.url_container {
    display: flex;
    flex-direction: column;
}

.input_label {
    color: #FFFFFF;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    margin-left: 0.5rem;
}

.input_label_2 {
    color: #FFFFFF;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    margin-left: 0.5rem;
}

.input_label_3 {
    color: #FFFFFF;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    margin-left: 0.5rem;
}

.url_input_container {
    display: flex;
}

.url_input {
    border-radius: 2rem;
    padding: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2rem;
    width: 100%;
}

.add_url_button {
    margin-left: -3rem;
}

.remove_url_button {
    margin-left: -3rem;
    margin-top: 1rem;
}

.add_icon {
    color: #248434;
    background-color: #c0fcd4;
    border-radius: 100%;
}

.add_icon.disabled {
    color: #888888;
    background-color: #e0e0e0;
}

.remove_icon {
    color: #EB1B30;
    background-color: #ffa7b0;
    border-radius: 100%;
}

.arrow_icon {
    color: #FFFFFF;
    align-self: center;
    margin-right: 0.5rem;
    transform: scale(2);
}

.add_icon:hover {
    border: solid 1px #248434;
    border-radius: 100%;
}

.added_url {
    background-color: #dedede;
    height: 2rem;
    width: 100%;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-left: 0.25rem;
    padding-top: 0.55rem;
}

.added_url_text {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5rem;
}

.parameters {
    margin-top: 4rem;
    background-color: #212121;
    border-radius: 0.75rem;
    padding-top: 0.25rem;
}

.parameters_2 {
    margin-top: 4rem;
    border-radius: 0.75rem;
    padding-top: 0.25rem;
}

.parameters_title {
    color: #FFFFFF;
    align-self: center;
    font-size: 2rem;
}

.parameters_title_2 {
    color: #FFFFFF;
    font-size: 2rem;
}

.number_input {
    border-radius: 1rem;
    padding: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2rem;
    width: 90%;
}

.mandatory_parameters {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.optional_parameters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    margin-top: 1rem;
    border-radius: 0.75rem;
    padding-top: 0.25rem;
}

.error_message {
    color: red;
    align-self: center;
}

.save_button {
    margin-left: 42%;
    width: 10rem;
    height: 2rem;
    border-radius: 1rem;
    color: #3094ff;
    background-color: #c3ffff;
}

.save_button:hover {
    cursor: pointer;
    border: solid #3094ff;
}

.save_button:disabled {
    cursor: not-allowed;
    border: 0;
    color: #919191;
    background-color: #e0e0e0;
}

.old_repos_button {
    border-radius: 1rem;
    color: #3094ff;
}

.modal_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_content {
    display: flex;
    flex-direction: column;
    background: #212121;
    padding: 2rem;
    border-radius: 8px;
    width: 45rem;
    max-height: 80vh;
    overflow-y: auto;
}

.close_modal {
    height: 2rem;
    width: 6rem;
    align-self: center;
    justify-content: center;
    border-radius: 1rem;
    color: #f26e6e;
    background-color: #ffe5e3;
}

::ng-deep.close_modal:hover {
    cursor: pointer;
    border: solid 1px #f26e6e;
    border-radius: 1rem;
    color: #f26e6e;
    background-color: #ffe5e3 !important;
}

.group_item {
    margin-left: -1.5rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background: #c7c7c7;
    cursor: pointer;
    border-radius: 1rem;
}

.group_item:hover {
    background: #e0e0e0;
}

.explanation_message {
    align-self: center;
    color: #FFFFFF;
    margin-top: 0.75rem;
}

.explanation_button {
    border-radius: 1rem;
    background-color: #21212100;
    color: #FFFFFF;
    padding: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.explanation_button:hover {
    cursor: pointer;
    background-color: #383838;
}

.group_item_container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.group_item {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.delete_group_button {
    border-radius: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
}

.delete_group_button:hover {
    background-color: #CCCCCC;
}

.material-icons {
    font-size: 1.5rem;
}