<form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <div class="container">

        <div class="logo_container" *ngIf="languageCode != 'es' && languageCode != 'en'">
            <img src='TFGlogo.png' alt="Mapa de prácticas ágiles" class="logo" />
        </div>

        <div class="logo_container" *ngIf="languageCode == 'es'">
            <img src='TFGlogo.png' alt="Mapa de prácticas ágiles" class="logo" />
        </div>

        <div class="logo_container" *ngIf="languageCode == 'en'">
            <img src='TFGlogo-EN.png' alt="Mapa de prácticas ágiles" class="logo" />
        </div>

        <div class="auth_form">
            <h1 style="color: #FFFFFF;">
                <span *ngIf="isLogin">{{ 'login.login' | transloco }}</span>
                <span *ngIf="isRegistering">{{ 'login.register' | transloco }}</span>
                <span *ngIf="isChangingPassword">{{ 'login.new_password' | transloco }}</span>
            </h1>

            <div class="auth_input">
                <label class="auth_input_label">{{ 'login.username' | transloco }}</label>
                <div style="display: flex;">
                    <input matInput id="username" formControlName="usernameCtrl" type="text" class="url_input"
                        [placeholder]="'messages.username_input' | transloco">
                </div>
            </div>

            <div class="auth_input">
                <label *ngIf="!isChangingPassword" class="auth_input_label">{{ 'login.password' | transloco }}</label>
                <label *ngIf="isChangingPassword" class="auth_input_label">{{ 'login.old_password' | transloco
                    }}</label>
                <div style="display: flex; position: relative;">
                    <input matInput [type]="showPassword ? 'text' : 'password'" id="password"
                        formControlName="passwordCtrl" class="url_input"
                        [placeholder]="isChangingPassword ? ('messages.old_password_input' | transloco) : ('messages.password_input' | transloco)">
                    <button type="button" (click)="togglePasswordVisibility()"
                        style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); background: none; border: none; cursor: pointer;">
                        <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </div>
            </div>

            <div class="auth_input" *ngIf="isRegistering || isChangingPassword">
                <label *ngIf="!isChangingPassword" class="auth_input_label">{{ 'login.repeat_password' | transloco
                    }}</label>
                <label *ngIf="isChangingPassword" class="auth_input_label">{{ 'login.new_password' | transloco
                    }}</label>
                <div style="display: flex; position: relative;">
                    <input matInput [type]="showRepeatPassword ? 'text' : 'password'" id="repeatPassword"
                        formControlName="repeatPasswordCtrl" class="url_input"
                        [placeholder]="isChangingPassword ? ('messages.new_password_input' | transloco) : ('messages.repeat_password_input' | transloco)">
                    <button type="button" (click)="toggleRepeatPasswordVisibility()"
                        style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); background: none; border: none; cursor: pointer;">
                        <mat-icon>{{ showRepeatPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </div>
            </div>


            <div *ngIf="authForm.get('repeatPasswordCtrl')?.errors?.['pattern'] && authForm.get('repeatPasswordCtrl')?.touched"
                class="error_message">
                {{ 'errors.invalid_password' | transloco }}
            </div>

            <span class="link" *ngIf="isLogin" [routerLink]="['/register']">{{ 'buttons.goto_register' | transloco
                }}</span>
            <span class="link" *ngIf="isRegistering" [routerLink]="['/login']">{{ 'buttons.goto_login' | transloco
                }}</span>

            <button type="submit" class="save_button" [disabled]="authForm.invalid"
                [hidden]="authForm.get('repeatPasswordCtrl')?.errors?.['pattern'] && authForm.get('repeatPasswordCtrl')?.touched">
                <span *ngIf="isLogin">{{ 'buttons.login' | transloco }}</span>
                <span *ngIf="isRegistering">{{ 'buttons.register' | transloco }}</span>
                <span *ngIf="isChangingPassword">{{ 'buttons.change_password' | transloco }}</span>
            </button>

        </div>

    </div>
</form>