<form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <div class="container">

        <div class="logo_container">
            <img src='TFGlogo.png' alt="Mapa de prácticas ágiles" class="logo" />
        </div>

        <div class="auth_form">
            <h1 style="color: #FFFFFF;">
                <span *ngIf="isLogin">Inicio de sesión</span>
                <span *ngIf="isRegistering">Registro</span>
                <span *ngIf="isChangingPassword">Cambio de contraseña</span>
            </h1>

            <div class="auth_input">
                <label class="auth_input_label">Usuario</label>
                <div style="display: flex;">
                    <input matInput id="username" formControlName="usernameCtrl" type="text"
                        placeholder="Introduce aquí tu nombre de usuario" class="url_input">
                </div>
            </div>

            <div class="auth_input">
                <label *ngIf="!isChangingPassword" class="auth_input_label">Contraseña</label>
                <label *ngIf="isChangingPassword" class="auth_input_label">Antigua contraseña</label>
                <div style="display: flex;">
                    <input matInput id="password" formControlName="passwordCtrl" type="password"
                        placeholder="Introduce aquí tu contraseña" class="url_input">
                </div>
            </div>

            <div class="auth_input" *ngIf="isRegistering || isChangingPassword">
                <label *ngIf="!isChangingPassword" class="auth_input_label">Repetir contraseña</label>
                <label *ngIf="isChangingPassword" class="auth_input_label">Nueva contraseña</label>
                <div style="display: flex;">
                    <input matInput id="repeatPassword" formControlName="repeatPasswordCtrl" type="password"
                        placeholder="Repite tu contraseña" class="url_input">
                </div>
            </div>

            <div *ngIf="authForm.get('repeatPasswordCtrl')?.errors?.['pattern'] && authForm.get('repeatPasswordCtrl')?.touched"
                class="error_message">
                La contraseña debe tener al menos 8 caracteres, una mayúscula y un carácter especial.
            </div>

            <span class="link" *ngIf="isLogin" [routerLink]="['/register']">¿No tienes una cuenta? Regístrate</span>
            <span class="link" *ngIf="isRegistering" [routerLink]="['/login']">¿Ya tienes una cuenta? Inicia
                sesión</span>

            <button type="submit" class="save_button" [disabled]="authForm.invalid"
                [hidden]="authForm.get('repeatPasswordCtrl')?.errors?.['pattern'] && authForm.get('repeatPasswordCtrl')?.touched">
                <span *ngIf="isLogin">Iniciar de sesión</span>
                <span *ngIf="isRegistering">Registrarse</span>
                <span *ngIf="isChangingPassword">Cambiar contraseña</span>
            </button>

        </div>

    </div>
</form>